#schedule-container {
    margin: 0 auto;
    border: black 2px solid;
}
.day-col {
    border-right: black 2px solid;
    height: 800px;
}
#Sat {
    border-right: 0px;
}
.day-name {
    align-self: center;
    border-bottom: 2px solid black;
}
main {
    width: 95vw;
    margin: 0 auto;
}
.slot-chunk {
    border: black 2px solid;
    margin-top: 1vw;
    padding: 2px;
}