#schedule-container {
    margin: 0 auto;
    border: black 2px solid;
}
.day-col {
    border-right: black 2px solid;
    min-height: 200px; /*Don't collapse on mobile when column takes full screen.*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Sat {
    border-right: 0px;
}
.day-name {
    align-self: center;
    border-bottom: 2px solid black;
}
main {
    width: 95vw;
    margin: 0 auto;
}
.slot-chunk {
    border: black 2px solid;
    margin-top: 1vw;
    padding: 2px;
}
.add-button {
    margin-top: 10px;
    align-self: center;
}
.remove-slot {
    float: right;
    border-radius: 50%;
    margin: 2px;
}
/* Stuff Will Added */
.timeBox {
    border: black 1px solid;
    margin: 4px;
    border-radius: 10px;
    padding: 5px; 
}